<h1>Get your liquor quicker!</h1>

<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Register", new_user_registration_path%><br>
  <%= link_to "Edit", new_user_session_path%>
<% end %>
