<div class="page">

<div id="landing" class="main view-landing">

<div class="nav-fixed-top">
            <div class="logo">LOGO</div>
            <div class="btn-block">Register</div>
        </div>

   <div class="branding">
    <div class="inner">

            <h1>Get your</h1>
            <h1>Liquor Quicker!</h1>

            <%= link_to "Register!", new_user_path, class: "btn btn-primary btn-large" %>

    </div>
   </div>

   <div class="about container-fluid">
        <h1>About Fast Bar</h1>
        <div class="row">
            <div class="span4">
                <h2>Quick</h2>
                <p>Bock copper dry stout ipa. hop back yeast scotch ale yeast brewing. sour/acidic, bock brew acid rest hefe, wit caramel malt, " wort?" bright beer shelf life, seidel sour/acidic dry stout oxidized saccharification hard cider. ester wit brew kettle terminal gravity. goblet, tulip glass sparge? pitch saccharification krausen cask conditioning pitch fermentation mash tun kolsch. mash all-malt, " brewing keg wheat beer glass, primary fermentation abbey mash carboy, hard cider." mouthfeel.</p>
                </div>
            <div class="span4">
                            <h2>Reliable</h2>
                            <p>Bock copper dry stout ipa. hop back yeast scotch ale yeast brewing. sour/acidic, bock brew acid rest hefe, wit caramel malt, " wort?" bright beer shelf life, seidel sour/acidic dry stout oxidized saccharification hard cider. ester wit brew kettle terminal gravity. goblet, tulip glass sparge? pitch saccharification krausen cask conditioning pitch fermentation mash tun kolsch. mash all-malt, " brewing keg wheat beer glass, primary fermentation abbey mash carboy, hard cider." mouthfeel.</p>
                </div>
            <div class="span4">
                            <h2>Simple</h2>
                            <p>Bock copper dry stout ipa. hop back yeast scotch ale yeast brewing. sour/acidic, bock brew acid rest hefe, wit caramel malt, " wort?" bright beer shelf life, seidel sour/acidic dry stout oxidized saccharification hard cider. ester wit brew kettle terminal gravity. goblet, tulip glass sparge? pitch saccharification krausen cask conditioning pitch fermentation mash tun kolsch. mash all-malt, " brewing keg wheat beer glass, primary fermentation abbey mash carboy, hard cider." mouthfeel.</p>
                </div>
        </div>
   </div>


</div>



<div class="footer">
<p>&copy;Fast Bar 2014</p>
</div>

</div>