<div class="page page-landing">

<div id="landing" class="main view-landing">

<div class="nav-fixed-top">
    <div class="wrapper">
        <div class="span6 logo">LOGO</div>
        <div class="span6"></div>
    </div>
</div>

   <div class="branding">
    <div class="wrapper">

        <div class="inner-wrap">
            <div class="inner">
                <h1>Get your Liquor Quicker!</h1>
                <%= link_to "Register!", new_user_path, class: "btn btn-primary btn-large" %>
            </div>
        </div>



    </div>
   </div>

   <div class="about container-fluid wrapper">
        <h1>Fast Bar is...</h1>
        <h2>An event process improvement company. </h2>
        <div class="row">
            <div class="span4">
                <h3>Quick</h3>
                <p>It's all in the name: FastBar is fast! Eliminating the need for bartenders to handle cash or credit cards directly, FastBar utilizes RFID (Radio Frequency Identification) wristbands that are scanned by a reader at the bar. The bartender doesn't have to worry about making change, swiping a card, or handling drink tickets.</p>
            </div>
            <div class="span4">
                <h3>Reliable</h3>
                <p>The RFID wristbands used by FastBar implement an industry-proven technology to enhance the event-bar experience. FastBar will even work offline, so that even when the WiFi is slow, down, spotty, or just plain non-existant, events can still take bar payments.</p>
            </div>
            <div class="span4">
                <h3>Simple</h3>
                <p>FastBar is incredibly easy to use. Unlike complicated Point-of-Sale systems that are meant for full restaurants or bars, Fastbar is engineered to be simple, with only the features needed for event bar service, and nothing more. This means more selling, and less management.</p>
            </div>
        </div>
   </div>


</div>



<div class="footer">
<p>&copy;Fast Bar 2014</p>
</div>

</div>