// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$nav-height: 66px;

$brand-primary: #1b75bb;
$brand-secondary: #0099ff;


.page-transactions {

  > .wrapper {
    margin-top: 100px;
  }

  table {
    margin: 50px auto;
    width: 435px;
  }

  td, th {
    text-align: left;
  }

  th {
    text-transform: uppercase;
  }

}