// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$nav-height: 66px;

$brand-primary: #1b75bb;
$brand-secondary: #0099ff;


.page-transactions {

  > .wrapper {
    margin-top: 100px;
  }

  table {
    float: left;
    margin: 0 0 50px 0;
    width: 75%;
  }

  td, th {
    text-align: left;
  }

  th {
    text-transform: uppercase;
  }

  .btn {
    clear: both;
    margin: 50px 0;
  }

  .content {
    overflow: hidden;
  }

}


.totals {
  float: left;
  margin-left: 2.5%;
  width: 25% - 2.5%;

  > div {
    background: rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.5);
    border-left: 10px solid $brand-primary;
    padding: 1em 1em 1em 0;
    width: 150px;

    + div {
      border-top: none;
    }
  }

  dt {
    font-size: 2em;
    line-height: 1.5em;
  }
}